[
{{- range $i, $p := .Projects }}
  {{- if gt $i 0 }},{{ end }}
  {
    "repo": "{{$.OrgName}}/{{ $p.name }}",
    "branch": "refs/heads/main",
    "type": "github-dispatcher",
    "dir": "{{$.BaseDir}}/{{$.OrgName}}/{{ $p.name }}",
    "commands": [
      {{- if $p.isDockerProject }}
      "git checkout main",
      "git pull",
      "docker compose build",
      "docker compose down",
      "docker compose up -d"
      {{- else if $p.buildCommands }}{{- range $j, $cmd := $p.buildCommands }}
      {{- if gt $j 0 }},{{ end }}
      "{{ $cmd }}" {{- end }}
      {{- end }}
    ]
  }
{{- end }}
]
