redis:
  addr: "host.docker.internal:6379"
  password: ""
  list_name: "{{.PoppitListName}}"

# NOTE: this will get remapped from docker compose
server:
  port: "8080"

commands:
  - name: "Turn TV on/off"
    repo: "{{.OrgName}}/Bubble"
    branch: "refs/heads/main"
    type: "bubble-command"
    dir: "{{.BaseDir}}/{{.OrgName}}/Bubble"
    commands:
      - "curl http://192.168.1.12:5000/cmd?cmd=tv"

  - name: "Turn on Nookie"
    repo: "{{.OrgName}}/Bubble"
    branch: "refs/heads/main"
    type: "bubble-command"
    dir: "{{.BaseDir}}/{{.OrgName}}/Bubble"
    commands:
      - "wakeonlan 94:C6:91:1D:CA:27"
