[
  {
    "name": "github-webhook",
    "path": "github-webhook",
    "target": "http://host.docker.internal:{{ index . "github-webhook-port" }}/webhook"
  },
  {
    "name": "SlackRelay",
    "path": "slack-webhook",
    "target": "http://host.docker.internal:{{.SlackRelayPort}}/slack"
  },
  {
    "name": "SlackCommandRelay",
    "path": "slack-command",
    "target": "http://host.docker.internal:{{.SlackCommandRelayPort}}/command"
  },
  {
    "name": "OctoCatalog",
    "path": "octo-catalog",
    "target": "http://host.docker.internal:{{.OctoCatalogPort}}"
  },
  {
    "name": "starling-webhook",
    "path": "starling-webhook",
    "target": "http://host.docker.internal:{{ index . "starling-webhook-port" }}/webhook"
  },
  {
    "name": "monzo-webhook",
    "path": "monzo-webhook",
    "target": "http://host.docker.internal:{{ index . "monzo-webhook-port" }}/webhook"
  }
]
