{
  "PoppitListName": "example-list",
  "PoppitBuilderListName": "example-builder-list",
  "RedisPassword": "example-redis-password",
  "OrgName": "its-the-vibe",
  "BaseDir": "/home/user/projects",
  "SlackWebhookSecret": "example-slack-webhook-secret",
  "GithubWebhookSecret": "example-github-webhook-secret",
  "SlackBotToken": "example-slack-bot-token",
  "IssueSlackChannelID": "C123456790",
  "OctoSlackChannelID": "C123456790"
}
