[
{{- range $i, $p := .Projects }}
  {{- if $p.isUpDownProject }}
  {
    "repo": "{{ $p.name }}",
    "dir": "{{$.BaseDir}}/{{$.OrgName}}/{{ $p.name }}",
    "upCommands": [
      {{- if $p.isDockerProject }}
      "docker compose up -d"
      {{- else if $p.upCommands }}{{- range $j, $cmd := $p.upCommands }}
      {{- if gt $j 0 }},{{ end }}
      "{{ $cmd }}" {{- end }}
      {{- end }}
    ],
    "downCommands": [
      {{- if $p.isDockerProject }}
      "docker compose down"
      {{- else if $p.downCommands }}{{- range $j, $cmd := $p.downCommands }}
      {{- if gt $j 0 }},{{ end }}
      "{{ $cmd }}" {{- end }}
      {{- end }}
    ],
    "restartCommands": [
      {{- if $p.isDockerProject }}
      "docker compose restart"
      {{- else if $p.restartCommands }}{{- range $j, $cmd := $p.restartCommands }}
      {{- if gt $j 0 }},{{ end }}
      "{{ $cmd }}" {{- end }}
      {{- end }}
    ]
  },
{{- end }}
{{- end }}
  {
    "repo": "Poppit",
    "dir": "{{$.BaseDir}}/{{$.OrgName}}/Poppit",
    "upCommands": [
      "sudo systemctl start poppit"
    ],
    "downCommands": [
      "sudo systemctl stop poppit"
    ],
    "restartCommands": [
      "sudo systemctl restart poppit"
    ],
    "targetQueue": "{{.PoppitBuilderListName}}"
  },
  {
    "repo": "poppit-builder",
    "dir": "{{$.BaseDir}}/{{$.OrgName}}/Poppit",
    "upCommands": [
      "sudo systemctl start poppit-builder"
    ],
    "downCommands": [
      "sudo systemctl stop poppit-builder"
    ],
    "restartCommands": [
      "sudo systemctl restart poppit-builder"
    ]
  }
]
