events:
  - name: "Hastings Half Marathon"
    date: "2026-03-22"
    time: "10:30:00"
  - name: "Boston (UK) Marathon"
    date: "2026-04-12"
    time: "08:00:00"
  - name: "Mozart Ultra Marathon"
    date: "2026-05-23"
