# Configuration file for allowed repositories
# Only repositories listed here will be deployed when a rocket emoji reaction is detected
# If this file is not present or ALLOWED_REPOS_CONFIG is not set, all repositories are allowed by default

allowed_repos:
  - {{.OrgName}}/github-dispatcher
  - {{.OrgName}}/github-webhook
  - {{.OrgName}}/InnerGate
  - {{.OrgName}}/OctoCatalog
  - {{.OrgName}}/OctoSlack
  - {{.OrgName}}/rate-my
  - {{.OrgName}}/SlackCommandRelay
  - {{.OrgName}}/SlackCompose
  - {{.OrgName}}/SlackLiner
  - {{.OrgName}}/SlackRelay
  - {{.OrgName}}/SlashVibeIssue
  - {{.OrgName}}/SlashVibeRepo
  - {{.OrgName}}/TimeBomb
  - {{.OrgName}}/TrashCommand
  - {{.OrgName}}/VibeDeploy
  - {{.OrgName}}/VibeMerge
  # Add more repositories here as needed
  # Format: owner/repository-name
