[
  {
    "slack-event-type": "reaction_added",
    "channel": "slack-relay-reaction-added"
  },
  {
    "slack-event-type": "reaction_removed",
    "channel": "slack-relay-reaction-removed"
  },
  {
    "slack-event-type": "view_submission",
    "channel": "slack-relay-view-submission",
    "response": {"response_action": "clear"}
  },
  {
    "slack-event-type": "block_actions",
    "channel": "slack-relay-block-actions"
  },
  {
    "slack-event-type": "message_action",
    "channel": "slack-relay-message-action",
    "response": {}
  }
]