{
  "organizationName": "Its The Vibe",
  "projects": [
    {
      "name": "rate my",
      "description": "Simple web page to allow submitting ratings of various things",
      "url": "http://{{.Hostname}}:{{index . "rate-my-port"}}"
    },
    {
      "name": "ThisIsFine",
      "description": "Simple Self Contained Status Dashboard",
      "url": "http://{{.Hostname}}:{{.ThisIsFinePort}}"
    },
    {
      "name": "RediScan",
      "description": "A lightweight web UI to inspect and page through Redis lists with automatic JSON pretty-printing",
      "url": "http://{{.Hostname}}:{{.RediScanPort}}"
    },
    {
      "name": "SwitchBoard",
      "description": "A webapp for switching off and switching on services",
      "url": "http://{{.Hostname}}:{{.SwitchBoardPort}}"
    },
    {
      "name": "Bubble",
      "description": "Web front-end for Poppit",
      "url": "http://{{.Hostname}}:{{.BubblePort}}"
    }
  ],
  "githubRepositories": [
  {{- range $i, $p := .Projects }}
    {{- if gt $i 0 }},{{ end }}
    {
      "name": "{{ $p.name }}",
      "url": "https://github.com/{{$.OrgName}}/{{ $p.name}}"
    }
  {{- end }}
  ]
}
