[
  {
    "name": "github-webhook",
    "path": "github-webhook",
    "target": "http://host.docker.internal:8081/webhook"
  },
  {
    "name": "SlackRelay",
    "path": "slack-webhook",
    "target": "http://host.docker.internal:8082/slack"
  },
  {
    "name": "SlackCommandRelay",
    "path": "slack-command",
    "target": "http://host.docker.internal:8083/command"
  },
  {
    "name": "OctoCatalog",
    "path": "octo-catalog",
    "target": "http://host.docker.internal:8085"
  }  
]
