[
    {
        "name": "TrashCommand",
        "working_dir": "{{.BaseDir}}/{{.OrgName}}/TrashCommand"
    },
    {
        "name": "SlackCompose",
        "working_dir": "{{.BaseDir}}/{{.OrgName}}/SlackCompose"
    },
    {
        "name": "github-dispatcher",
        "working_dir": "{{.BaseDir}}/{{.OrgName}}/github-dispatcher"
    }
]