[
  {{- $first := true }}
  {{- range $i, $p := .Projects }}
    {{- if $p.useWithSlackCompose }}{{if not $first}},{{end}}
    {
      "name": "{{$p.name}}",
      "working_dir": "{{$.BaseDir}}/{{$.OrgName}}/{{$p.name}}"
    }
    {{- $first = false }}{{end}}
  {{- end }}
]
