[
  {
    "github-event-type": "issues",
    "channel": "github-webhook-issues"
  },
  {
    "github-event-type": "push",
    "channel": "github-webhook-push"
  },
  {
    "github-event-type": "pull_request",
    "channel": "github-webhook-pull-request"
  }
]
