[
  {
    "actionId": "SlackCompose",
    "options": [
      {
        "text": "InnerGate",
        "value": "InnerGate"
      },
      {
        "text": "OctoSlack",
        "value": "OctoSlack"
      }
    ]
  },
  {
    "actionId": "SlashVibeIssue",
    "options": [
      {
        "text": "Poppit",
        "value": "Poppit"
      },
      {
        "text": "SlackLiner",
        "value": "SlackLiner"
      },
      {
        "text": "SlashVibeIssue",
        "value": "SlashVibeIssue"
      }      
    ]
  }
]
