[
  {
    "actionId": "SlackCompose",
    "options": [
      {{- $first := true }}
      {{- range $i, $p := .Projects }}
        {{- if $p.useWithSlackCompose }}{{if not $first}},{{end}}
        {
          "text": "{{$p.name}}",
          "value": "{{$p.name}}"
        }
        {{- $first = false }}{{end}}
      {{- end }}
    ]
  },
  {
    "actionId": "SlashVibeIssue",
    "options": [
      {{- $first := true }}
      {{- range $i, $p := .Projects }}
        {{- if $p.useWithGitHubIssue }}{{if not $first}},{{end}}
        {
          "text": "{{$p.name}}",
          "value": "{{$p.name}}"
        }
        {{- $first = false }}{{end}}
      {{- end }}
    ]
  }
]
