{
  "dockerServices": [
  {{- $first := true }}
  {{- range $p := .Projects }}
    {{- if $p.isDockerProject }}
      {{- if not $first }},{{ end }}
      {
        "name": "{{ $p.name }}",
        "displayName": "{{ $p.name }}"
      }
      {{- $first = false }}
    {{- end }}
  {{- end }}
  ],
  "systemdServices": [
    {
      "name": "Poppit",
      "serviceName": "poppit",
      "displayName": "Poppit"
    },
    {
      "name": "poppit-builder",
      "displayName": "Poppit Builder"
    },
    {
      "name": "ThisIsFine",
      "serviceName": "thisisfine",
      "displayName": "This Is Fine"
    },
    {
      "name": "ttyd",
      "displayName": "ttyd"
    }
  ],
  "dockerStatusUrl": "http://host.docker.internal:{{.ThisIsFinePort}}/ps",
  "systemdStatusUrl": "http://host.docker.internal:{{.ThisIsFinePort}}/systemctl-is-active",
  "toggleServiceUrl": "http://host.docker.internal:{{.TurnItOffAndOnAgainPort}}/messages",
  "pollIntervalSeconds": 5
}
