redis:
  addr: "{{.RedisHost}}:6379"
  db: 0

admin:
  port: 8080

keys:
  lock: "orderlyq:current-task"
  pr_list: "orderlyq:pr-queue"
  poppit_list: "{{.PoppitListName}}"
  merge_commit_sha: "orderlyq:merge_commit_sha"

channels:
  github_events: "github-webhook-pull-request"
  cicd_events: "poppit:builder-execution-events"

timeouts:
  lock_sleep: "10s"
  lock_expiry: "20m"
  cicd_delay: "150s"

poppit:
  dir: "{{.BaseDir}}/{{.OrgName}}/OrderlyQueue"
