# Redis configuration
redis:
  host: "host.docker.internal:6379"
  db: 0

# Firestore configuration
firestore:
  projectID: "{{.GcpProjectId}}"

# Mapping of Redis lists to Firestore collections
mappings:
  - source: "test-events"
    target: "test-events"
  - source: "test-users"
    target: "test-users"
