{
  "port": {{.ThisIsFinePort}},
  "services": [
    "{{.OrgName}}/InnerGate",
    "{{.OrgName}}/OctoCatalog",
    "{{.OrgName}}/OctoSlack",
    "{{.OrgName}}/SlackCommandRelay",
    "{{.OrgName}}/SlackCompose",
    "{{.OrgName}}/SlackLiner",
    "{{.OrgName}}/SlackRelay",
    "{{.OrgName}}/SlashVibeIssue",
    "{{.OrgName}}/SlashVibeRepo",
    "{{.OrgName}}/TimeBomb",
    "{{.OrgName}}/TrashCommand",
    "{{.OrgName}}/VibeDeploy",
    "{{.OrgName}}/VibeMerge",
    "{{.OrgName}}/github-dispatcher",
    "{{.OrgName}}/github-webhook",
    "{{.OrgName}}/rate-my"
  ]
}
